pkgbase = paddock
	pkgdesc = Local Laravel development environment for Omarchy
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/lukeska/paddock
	install = paddock.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = python
	depends = python-yaml
	depends = nginx
	depends = dnsmasq
	depends = mkcert
	depends = nss
	depends = p11-kit
	depends = networkmanager
	depends = polkit
	depends = podman
	depends = curl
	depends = wl-clipboard
	source = paddock-0.1.3.tar.gz::https://github.com/lukeska/paddock/releases/download/v0.1.3/paddock-0.1.3.tar.gz
	source = paddock-0.1.3.tar.gz.sig::https://github.com/lukeska/paddock/releases/download/v0.1.3/paddock-0.1.3.tar.gz.sig
	validpgpkeys = AB3611DC044DE36844055E9AC1A41BDC59DCEA60
	sha256sums = b741738ff87545e06e680b1224f4df76f2d4a7470290112189572ca563d6d3ed
	sha256sums = SKIP

pkgname = paddock
